In [1]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [2]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2022-09-12 20:00:47--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 172.67.70.149, 104.26.2.33, 104.26.3.33, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|172.67.70.149|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M  12.9MB/s    in 1.9s

2022-09-12 20:00:49 (12.9 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [3]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [4]:
# add your code here - consider creating a new cell for each section of code
df_books

,isbn,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber
...,...,...,...
271374,0440400988,There's a Bat in Bunk Five,Paula Danziger
271375,0525447644,From One to One Hundred,Teri Sloat
271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker
271377,0192126040,Republic (World's Classics),Plato
271378,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle

In [5]:
df_ratings

           user         isbn  rating
0        276725   034545104X     0.0
1        276726   0155061224     5.0
2        276727   0446520802     0.0
3        276729   052165615X     3.0
4        276729   0521795028     6.0
...         ...          ...     ...
1149775  276704   1563526298     9.0
1149776  276706   0679447156     0.0
1149777  276709   0515107662    10.0
1149778  276721   0590442449    10.0
1149779  276723  05162443314     8.0

[1149780 rows x 3 columns]

In [6]:
df_books.isnull().values.any()

True

In [7]:
df_ratings.shape

(1149780, 3)

In [8]:
df_ratings.isnull().values.any()

False

In [9]:
# df_books["title"].fillna("no title", inplace = True)
# df_books["author"].fillna("no author", inplace = True)
# df_books["isbn"].fillna(0, inplace = True)
df_books.dropna()

,isbn,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber
...,...,...,...
271374,0440400988,There's a Bat in Bunk Five,Paula Danziger
271375,0525447644,From One to One Hundred,Teri Sloat
271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker
271377,0192126040,Republic (World's Classics),Plato
271378,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle

In [10]:
# Calculate user and book rating counts
user_RatingCount = df_ratings.groupby('user')['rating'].count().reset_index().rename(columns = {'rating':'userTotalRatingCount'})
book_RatingCount = df_ratings.groupby('isbn')['rating'].count().reset_index().rename(columns = {'rating':'bookTotalRatingCount'})

# Add to df_ratings
df_ratings = df_ratings.merge(user_RatingCount,how='left', left_on='user', right_on='user')
df_ratings = df_ratings.merge(book_RatingCount, how='left', left_on='isbn', right_on='isbn')

# Filter data for statistical significance
df_ratings_2 =df_ratings.loc[(df_ratings['userTotalRatingCount']>=200) & (df_ratings['bookTotalRatingCount']>=100)]

In [11]:
df_ratings

,user,isbn,rating,userTotalRatingCount,bookTotalRatingCount
0,276725,034545104X,0.0,1,60
1,276726,0155061224,5.0,1,2
2,276727,0446520802,0.0,1,116
3,276729,052165615X,3.0,2,1
4,276729,0521795028,6.0,2,1
...,...,...,...,...,...
1149775,276704,1563526298,9.0,17,3
1149776,276706,0679447156,0.0,1,40
1149777,276709,0515107662,10.0,1,44
1149778,276721,0590442449,10.0,1,15
1149779,276723,05162443314,8.0,1,1

In [12]:
book_with_ratings = pd.merge(df_ratings_2, df_books, on='isbn')
print(book_with_ratings)

         user        isbn  rating  userTotalRatingCount  bookTotalRatingCount  \
0      277427  002542730X    10.0                   497                   171
1        3363  002542730X     0.0                   901                   171
2       11676  002542730X     6.0                 13602                   171
3       12538  002542730X    10.0                  1351                   171
4       13552  002542730X     0.0                   709                   171
...       ...         ...     ...                   ...                   ...
49512  238864  0399149325     0.0                   353                   113
49513  251843  0399149325     1.0                   338                   113
49514  253821  0399149325     0.0                   337                   113
49515  265115  0399149325     0.0                  1221                   113
49516  266226  0399149325     0.0                  1314                   113

                                                   title             author
0      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
1      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
2      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
3      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
4      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
...                                                  ...                ...
49512  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell
49513  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell
49514  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell
49515  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell
49516  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell

[49517 rows x 7 columns]

In [13]:
book_with_ratings2 = book_with_ratings.drop_duplicates(['user', 'title'])
print(book_with_ratings2)

         user        isbn  rating  userTotalRatingCount  bookTotalRatingCount  \
0      277427  002542730X    10.0                   497                   171
1        3363  002542730X     0.0                   901                   171
2       11676  002542730X     6.0                 13602                   171
3       12538  002542730X    10.0                  1351                   171
4       13552  002542730X     0.0                   709                   171
...       ...         ...     ...                   ...                   ...
49512  238864  0399149325     0.0                   353                   113
49513  251843  0399149325     1.0                   338                   113
49514  253821  0399149325     0.0                   337                   113
49515  265115  0399149325     0.0                  1221                   113
49516  266226  0399149325     0.0                  1314                   113

                                                   title             author
0      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
1      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
2      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
3      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
4      Politically Correct Bedtime Stories: Modern Ta...  James Finn Garner
...                                                  ...                ...
49512  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell
49513  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell
49514  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell
49515  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell
49516  Portrait of a Killer: Jack the Ripper -- Case ...  Patricia Cornwell

[49136 rows x 7 columns]

In [14]:
books_with_ratings_pivot = pd.pivot_table(data=book_with_ratings2, values='rating', index='title', columns='user').fillna(0)
print(books_with_ratings_pivot)

user                                                254     2276    2766    \
title
1984                                                   9.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0    10.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

user                                                2977    3363    4017    \
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        7.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

user                                                4385    6242    6251    \
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     7.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

user                                                6323    ...  274004  \
title                                                       ...
1984                                                   0.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0
...                                                    ...  ...     ...
Without Remorse                                        0.0  ...     0.0
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
\O\" Is for Outlaw"                                    0.0  ...     0.0

user                                                274061  274301  274308  \
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     8.0     0.0

user                                                274808  275970  277427  \
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

user                                                277478  277639  278418
title
1984                                                   0.0     0.0     0.0
1st to Die: A Novel                                    0.0     0.0     0.0
2nd Chance                                             0.0     0.0     0.0
4 Blondes                                              0.0     0.0     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0     0.0     0.0
...                                                    ...     ...     ...
Without Remorse                                        0.0     0.0     0.0
Year of Wonders                                        0.0     0.0     0.0
You Belong To Me                                       0.0     0.0     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0     0.0     0.0
\O\" Is for Outlaw"                                    0.0     0.0     0.0

[673 rows x 888 columns]

In [16]:
books_with_ratings_matrix = csr_matrix(books_with_ratings_pivot.values)

# Training the Model

In [17]:
model = NearestNeighbors(algorithm='auto', metric='cosine')
model.fit(books_with_ratings_matrix)

NearestNeighbors(metric='cosine')

In [18]:
NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

NearestNeighbors(metric='cosine')

In [19]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):
    X = books_with_ratings_pivot[books_with_ratings_pivot.index == book]
    X = X.to_numpy().reshape(1,-1)
    distances, indices = model.kneighbors(X,n_neighbors=8)
    recommended_books = []
    for x in reversed(range(1,6)):
        bookrecommended = [books_with_ratings_pivot.index[indices.flatten()[x]], distances.flatten()[x]]
        recommended_books.append(bookrecommended)
    recommended_books = [book, recommended_books]

    return recommended_books

In [20]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7234864]]]
You passed the challenge! 🎉🎉🎉🎉🎉